body{
    background-image: url("https://m.media-amazon.com/images/I/71y39UeOpzL._AC_SL1000_.jpg");
}
.kahepoolne{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.lingid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.sotsiaalmeedia > div {
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 33%;
    text-align: center;
}
.slider-holder
{
    width: 800px;
    height: 400px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.image-holder
{
    width: 2400px;
    background-color: red;
    height: 400px;
    clear: both;
    position: relative;
   
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slider-image
{
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#slider-image-1:target ~ .image-holder
{
    left: 0px;
}

#slider-image-2:target ~ .image-holder
{
    left: -800px;
}

#slider-image-3:target ~ .image-holder
{
    left: -1600px;
}

.button-holder
{
    position: relative;
    top: -20px;
}

.slider-change
{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: brown;
}
#map {
    height: 400px;
    width: 100%;
  }